main {
  padding: 0 100px;
  height: calc( 100vh - 170px );
  .content {
    max-width: 1000px;
    top: 25%;
    position: relative;
    h2 {
      margin-bottom: 40px;
    }
    h1 {
      margin-bottom: 40px;
    }
    p {
      max-width: 600px;
    }
  }
}

app-nav {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
}