.main {
  height: calc( 100vh - 170px );
  .content {
    top: 25%;
    p {
      max-width: 600px;
    }
  }
}

app-nav {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  z-index: 100;
}