.paginator {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin: 30px 50px;
  div {
    cursor: pointer;
    img {
      height: 22px;
      width: 22px;
    }
    &.inactive {
      opacity: 0.15;
      pointer-events: none;
    }
  }
}