<div [@fadeIn]>
  <app-header [close]="true"></app-header>
</div>

<div [@fadeInUp] class="main">
  <div class="content">
    <h1>What is this?</h1>
    <p>Adaptations of this list have been widely-circulated online as the 9 Rules for Being Human (Handed Down from Ancient Sanskrit) however the original source is actually Chérie Carter-Scott, a corporate trainer and consultant, who composed the list which she named The Ten Rules for Being Human for or one of her workshops several years ago.</p>
    <p>Right away, the Rules resonated with her clients, who photocopied and passed the list to friends and relatives. Within months, Chérie’s Rules were in thousands of homes all over the United States, and eventually, they were published in Chicken Soup for the Soul. She went on to write the book If Life is a Game, These Are the Rules in 1998, which offers further teachings on the rules so you can conquer life’s challenges and manage its unpredictable ups and downs.</p>
  </div>
</div>
